<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>
    Login
  </title>

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />

  <!-- Custom styles for this template -->
  <link href="static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="static/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="static/images/logo.jpg" alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('home') }}">
                    About
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('groupclass') }}">
                    Group Lesson
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('home') }}">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('login') }}">
                    Login
                  </a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>
  <!-- end hero area -->

  <!-- company section -->

  <section class="company_section layout_padding-bottom">
    <div class="compnay_container ">
      <div class="box ">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              Log in<span> CITY CENTER</span> Fitness </h2><br>
                <div>
                <Form style="border: 3px solid orange; width: 100%; height: 180px; " class="login" method="POST" action="/loginuser">
                    <div class="container">
                        <input style="width: 100%; margin: 8px 0;" type="text" name="username" placeholder="User Name" />
                        <input style="width: 100%; margin: 8px 0;" type="password" name="password" placeholder="Password" />
                    </div>    
                 
                    <div class="btn-box">
                    <body link="black"> <br>
                      <table>
                      <tr>
                          <input type="submit" value="SUBMIT" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </Form>
                 <form action="/">
                          <input type="submit" value="CANCEL" >
                      </tr>
                 </form>
                </table>
                {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li style="color: black; list-style-type: none;" >{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
                    </body>
                </div>
              </div>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end company section -->