{% extends "manager.html" %}
{% block content %}

  <h2 align="center" class="layout_padding2-top">OVERDUE MEMBERS</h2>
  <table align= "center" class="table table-striped">

    <tr>
      <th>MEMBER ID</th><th>NAME</th><th>EMAIL</th><th>LAST PAID</th><th>Overdue Days</th>
    </tr>
        {% for item in memberlist %}
        <tr>
            <td>{{item[0]}}</td>  
            <td>{{item[2]}}</td>  
            <td>{{item[1]}}</td>  
            <td>{{item[3].strftime('%Y-%m-%d')}}</td>
            <td>{{item[4]}}</td>
        </tr>
        {% endfor %}
  </table>

  <div style="text-align: center;">
  <form action="{{ url_for('overdue_row') }}" method="POST" style="display: inline-block;">
    <input type="hidden" name="memberlist" value="{{ memberlist }}">
    <button type="submit">Send Overdue Payment Reminder</button>
  </form>
</div>
{% endblock %}

